<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
    </div>
</div>


<div>
    <h1>Ajouter une reservation</h1>
    <form (ngSubmit)="saveReservation()">
        <table>
            <tr>
                <td>Heure de Depart:</td>
                <td><input type="datetime-local" [(ngModel)]="reservation.heureDepart" name="heureDepart"/></td>
            </tr>
            <tr>
                <td>Taux horaire:</td>
                <td><input type="number" [(ngModel)]="reservation.tauxHoraire" name="tauxHoraire"/></td>
            </tr>
            <tr>
                <td>Validation:</td>
                <td><input type="checkbox" [(ngModel)]="reservation.validation" name="validation"/></td>
            </tr>
            <tr>
                <td>Adresse de départ:</td>
                <td><input type="text" [(ngModel)]="reservation.depart" name="depart"/></td>
            </tr>
            <tr>
                <td>Adresse d'arrivée:</td>
                <td><input type="text" [(ngModel)]="reservation.arrivee" name="arrivee"/></td>
            </tr>
            <tr>
                <td colspan="2"><button>Ajouter</button></td>
            </tr>
        </table>
    </form>
</div>
<div>
    <h2>Liste des reservations</h2>
    <table>
        <tr>
            <td>Heure de départ</td>
            <td>Taux horaire</td>
            <td>Validation</td>
            <td>Adresse de départ</td>
            <td>Adresse d'arrivée</td>
        </tr>
        <tr *ngFor="let r of reservations">
            <td>{{r.heureDepart}}</td>
            <td>{{r.tauxHoraire}}</td>
            <td>{{r.validation ? 'Validée':'Non Validée'}}</td>  
            <td>{{r.depart}}</td>
            <td>{{r.arrivee}}</td>   
            <td><button (click)="deleteReservation(r.idReservation)">Delete</button></td>
            <td><button (click)="editReservation(r)">Editer</button></td>
        </tr>
    </table>
</div>

