<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
  </div>
</div>
test

<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Valider une reservation</h5>
        </div>
        <div class="card-body">
          <!-- ReactiveFormsModule : formGroup + formControlName-->
          <form [formGroup]="editForm" (ngSubmit)="saveCourse()">
            <div class="row">
              <!--tempsCourse!:number & prixReel!:number-->
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Adresse de départ</label>
                  <input type="text" class="form-control" [(ngModel)]="course.depart" formControlName="depart">
                </div>
              </div>
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Adresse d'arrivée</label>
                  <input type="text" class="form-control" [(ngModel)]="course.arrivee" formControlName="arrivee">
                </div>
              </div>
            </div>
            <div class="row">
              <!--tempsCourse!:number & prixReel!:number-->
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Temps de la course</label>
                  <input type="text" class="form-control" [(ngModel)]="course.tempsCourse"
                    formControlName="tempsCourse">
                </div>
              </div>
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Distance</label>
                  <input type="text" class="form-control" [(ngModel)]="course.distancekm" formControlName="distancekm">
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Chauffeur</label>
                  <div>
                    <select name="chauffeur" class="form-control" [(ngModel)]="course.chauffeur">
                      <option *ngFor="let c of chauffeurs" [ngValue]="c">
                        {{c.nom}} ({{c.prenom}})
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

          
            <div class="row">
              <div class="col-md-6 pl-1">
                <td colspan="2"><button>Ajouter </button></td>
              </div>
            </div>

          </form>

   

        </div>
      </div>
    </div>
  </div>
</div>