<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-10 order-xl-1">
            <div class="card shadow">
                <!--<button class="btn btn-secondary btn-round " *ngIf="valider == false" (click)="showData()">Ajouter un chauffeur</button>
                <button class="btn btn-secondary btn-round " *ngIf="element == true" (click)="hideData()">Cacher le formulaire</button>-->

                <!--<div *ngIf="course.varValider==false">-->
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="card-header">
                                    <h4 class="card-title"> Liste des courses à valider</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                        <thead class=" text-primary">
                                                <th>
                                                    Adresse de départ
                                                </th>
                                                <th>
                                                    Adresse d'arrivée
                                                </th>
                                                <th>
                                                    Temps total
                                                </th>
                                                <th>
                                                    Prix
                                                </th>
                                                <th>
                                                    Avis sur la course
                                                </th>
                                                <th>
                                                    Note sur la course
                                                </th>
                                                <th>
                                                    Note sur le chauffeur
                                                </th>
                                                <th>
                                                    Action
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let c of courses">
                                                    <td>{{c.depart}}</td>
                                                    <td>{{c.arrivee}}</td>
                                                    <td>{{c.tempsCourse}}</td>
                                                    <td>{{c.prixReel}}</td>
                                                    <td>{{c.avisCourse}}</td>
                                                    <td>{{c.noteCourse}}</td>
                                                    <td>{{c.noteChauffeur}}</td>
                                                    <td>
                                                        <button (click)="editValCourse(c)" class="btn btn-secondary btn-round">Editer</button>
                                                        <button (click)="valCourse(c)" class="btn btn-danger btn-round">valider</button>
                                                        <!--<button (click)="validerCourse(c.idCourse)" class="btn btn-danger btn-round">Valider</button>-->
                                                        <!--<button class="btn btn-secondary btn-round " *ngIf="varValider == false" (click)="validerCourse()">Valider</button>-->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<div [hidden]="authorities3()">
    <h1>Bonjour cher chauffeur, ceci est la page chauff-val-courses</h1>
</div>
<div [hidden]="authenticated()">
    <h1>Connectez-vous en tant que chauffeur pour accéder à cette page</h1>
</div>
<div [hidden]="!authenticated()">
    <div [hidden]="!authorities3()">
    <h1>Vous êtes connecté, mais seuls les chauffeurs ont accès à cette page</h1>
    </div>