.custom-date-input {
    padding: 9.5px 20px;
    border: 0px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #b8b3b3;
    outline: none;
    background-color: #fff;
    margin-left: 17px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  
.custom-date-input::-webkit-calendar-picker-indicator {
 filter: invert(1);
 margin-right: 15px;

}