<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-6 order-xl-1">
            <div class="card shadow border-0">
                <div id="map-canvas" class="map-canvas" data-lat="48.866667" data-lng="2.333333"
                    style="height: 600px;"></div>
            </div>
        </div>
    </div>
</div>


<div [hidden]="authorities4()">
</div>
<div [hidden]="authenticated()">
    <h1>Connectez-vous en tant que client pour accéder à cette page</h1>
</div>
<div [hidden]="!authenticated()">
    <div [hidden]="!authorities4()">
        <h1>Vous êtes connecté, mais seuls les clients ont accès à cette page</h1>
    </div>