<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Ajouter une reclamation</h5>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="saveReclamation()"> 
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Texte</label>
                                    <input type="text" class="form-control" [(ngModel)]="reclamation.texte" name="texte">
                                </div>
                            </div>
                            <div class="col-md-6 pl-1" style="padding-top: 32px;">
                                <button class="btn btn-danger btn-round">Ajouter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Liste des reclamations</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                        <thead class=" text-primary">
                                <th>
                                    Texte
                                </th>
                                <th>
                                    Action
                                </th>
                            </thead>
                        <tbody>
                            <tr *ngFor="let r of reclamations">
                                <td>{{r.texte}}</td>
                                <td>
                                    <button (click)="deleteReclamation(r.idReclamation)" class="btn btn-danger btn-round">Delete</button>
                                    <!--<button (click)="editReclamation(r)" class="btn btn-secondary btn-round">Editer</button>-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
