<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-10 order-xl-1">
            <div class="card shadow">
                <!--<button class="btn btn-secondary btn-round " *ngIf="element == false" (click)="showData()">Ajouter une course</button>
                <button class="btn btn-secondary btn-round " *ngIf="element == true" (click)="hideData()">Cacher le formulaire</button>-->
                    <div>
                        <h2>Liste des reservations</h2>
                        <table>
                            <tr>
                                <td>Heure de départ</td>
                                <td>Taux horaire</td>
                                <td>Validation</td>
                                <td>Adresse de départ</td>
                                <td>Adresse d'arrivée</td>
                            </tr>
                            <tr *ngFor="let r of reservations">
                                <td>{{r.heureDepart}}</td>
                                <td>{{r.tauxHoraire}}</td>
                                <td>{{r.validation ? 'Validée':'Non Validée'}}</td>  
                                <td>{{r.adresseDepart.rue}},{{r.adresseDepart.codePostal}},{{r.adresseDepart.ville}}</td>
                                <td>{{r.adresseArrivee.rue}},{{r.adresseArrivee.codePostal}},{{r.adresseArrivee.ville}}</td>   
                            </tr>
                        </table>
                    </div>                    
            </div>
        </div>
    </div>
</div>

