<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card shadow">
                <button class="btn btn-secondary btn-round " *ngIf="element == false" (click)="showData()">Ajouter une course</button>
                <button class="btn btn-secondary btn-round " *ngIf="element == true" (click)="hideData()">Cacher le
                    formulaire</button>

                <div *ngIf="element == true">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Ajouter une course</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form (ngSubmit)="saveCourse()"> 
                                <!--Adresse de Depart-->
                                <div class="row">
                                    <div class="col-md-4 pr-1">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-departure">Adresse de départ</label>
                                            <input type="text" ngx-google-places-autocomplete
                                                [(ngModel)]="course.depart" name="depart"
                                                class="form-control form-control-alternative" placeholder="depart"    
                                                (onAddressChange)="handleAddressChange($event)"
                                                [innerHTML]="course.depart">
                                        </div>
                                    </div>
                                </div>
                                <!--Adresse d'Arrivee-->
                                <div class="row">
                                    <div class="col-md-4 pr-1">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-destination">Adresse d'arrivée</label>
                                            <input type="text" ngx-google-places-autocomplete
                                                [(ngModel)]="course.arrivee" name="arrivee"
                                                class="form-control form-control-alternative" placeholder="arrivee"
                                                (onAddressChange)="handleAddressChange2($event)">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div>
                                        <button class="btn btn-outline-danger" (click)="calculDistance()">Click to evaluate the distance</button>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-distance-km">Distance (km)</label>
                                            <input type="number" [(ngModel)]="course.distancekm" name="distancekm"
                                                id="input-distance-km" class="form-control form-control-alternative"
                                                placeholder="Distance (km)" disabled="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!--tempsCourse!:number & prixReel!:number-->
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>Temps de la course</label>
                                            <input type="text" class="form-control" [(ngModel)]="course.tempsCourse" name="tempsCourse">
                                        </div>
                                    </div>
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>Prix total de la course</label>
                                            <input type="text" class="form-control" [(ngModel)]="course.prixReel" name="prixReel">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!--avisCourse!:string & noteCourse!:number & noteChauffeur!:number;-->
                                    <div class="col-md-4 pr-1">
                                        <div class="form-group">
                                            <label>Avis sur la course</label>
                                            <input type="text" class="form-control" [(ngModel)]="course.avisCourse" name="avisCourse">
                                        </div>
                                    </div>
                                    <div class="col-md-4 pr-1">
                                        <div class="form-group">
                                            <label>Note sur la course</label>
                                            <input type="text" class="form-control" [(ngModel)]="course.noteCourse" name="noteCourse">
                                        </div>
                                    </div>
                                    <div class="col-md-4 pr-1">
                                        <div class="form-group">
                                            <label>Note sur le chauffeur</label>
                                            <input type="text" class="form-control" [(ngModel)]="course.noteChauffeur" name="noteChauffeur">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 pl-1" style="padding-top: 15px;">
                                        <button class="btn btn-danger btn-round">Ajouter</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--###############################################################-->
            <!--<div class="card-body">
                <form>
                    <h6 class="heading-small text-muted mb-4">Service information</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-departure">Adresse de départ</label>
                                    <input type="text" ngx-google-places-autocomplete
                                        [(ngModel)]="course.depart" name="depart"
                                        class="form-control form-control-alternative" placeholder="Departure"
                                        
                                        (onAddressChange)="handleAddressChange($event)"
                                        [innerHTML]="course.depart">

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-destination">Adresse d'arrivée</label>
                                    <input type="text" ngx-google-places-autocomplete
                                        [(ngModel)]="course.arrivee" name="arrivee"
                                        class="form-control form-control-alternative" placeholder="Destination"
                                        
                                        (onAddressChange)="handleAddressChange2($event)">
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-outline-danger" (click)="calculDistance()">Click to evaluate the
                                distance</button>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-distance-km">Distance (km)</label>
                                    <input type="number" [(ngModel)]="course.distancekm" name="distancekm"
                                        id="input-distance-km" class="form-control form-control-alternative"
                                        placeholder="Distance (km)" disabled="">
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-danger" (click)="saveCourse()">Add</button>
                        </div>
                    </div>
                </form>
            </div>-->
            <!--###############################################################-->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"> Liste des courses</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                <thead class=" text-primary">
                                        <th>
                                            Adresse de départ
                                        </th>
                                        <th>
                                            Adresse d'arrivée
                                        </th>
                                        <th>
                                            Temps total
                                        </th>
                                        <th>
                                            Prix
                                        </th>
                                        <th>
                                            Avis sur la course
                                        </th>
                                        <th>
                                            Note sur la course
                                        </th>
                                        <th>
                                            Note sur le chauffeur
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </thead>
                                <tbody>
                                    <tr *ngFor="let c of courses">
                                        <td>{{c.depart}}</td>
                                        <td>{{c.arrivee}}</td>
                                        <td>{{c.tempsCourse}}</td>
                                        <td>{{c.prixReel}}</td>
                                        <td>{{c.avisCourse}}</td>
                                        <td>{{c.noteCourse}}</td>
                                        <td>{{c.noteChauffeur}}</td>
                                        <td>
                                            <button (click)="deleteCourse(c.idCourse)" class="btn btn-danger btn-round">Delete</button>
                                            <button (click)="editCourse(c)" class="btn btn-secondary btn-round">Editer</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
