<div [hidden]="!authenticated()">
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
    
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class=" col-auto">
                    <h1 class="display-2 text-white">Bonjour {{utilisateur.prenom}}</h1>
                    <p class="text-white mt-0 mb-5">Bienvenue sur votre page de profil</p>
                </div>
            </div>
        </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Vos informations</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Nom</label>
                                        <div class="card">
                                            <div class="card-header">
                                                {{utilisateur.nom}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Prenom</label>
                                        <div class="card">
                                            <div class="card-header">
                                                {{utilisateur.prenom}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Username</label>
                                        <div class="card">
                                            <div class="card-header">
                                                {{utilisateur.username}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">Password</label>
                                        <div class="card">
                                            <div class="card-header">
                                                {{utilisateur.password}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div [hidden]="authorities3()">
                                    <div class="col-auto">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">NumPermis</label>
                                            <div class="card">
                                                <div class="card-header">
                                                    {{utilisateur.numPermis}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div [hidden]="authorities4()">
                                    <div class="col-auto">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">Email</label>
                                            <div class="card">
                                                <div class="card-header">
                                                    {{utilisateur.email}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div [hidden]="authenticated()">
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px;">
        <!-- Mask -->
        <span class="mask bg-gradient-danger opacity-8"></span>
        <!-- Header container -->
        
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class=" col-auto">
                <h1 class="display-2 text-white">Bonjour</h1>
                <p class="text-white mt-0 mb-5">Vous n'êtes pas connecté</p>
            </div>
        </div>
    </div>
</div>
</div>