<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
    </div>
</div>

<div [hidden]="authorities2()">
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-12 order-xl-1">
                <div class="card shadow">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="card-header">
                                <h3> Liste des reclamations</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="text-primary">
                                            <tr>
                                                <th scope="col">Utilisateur</th>
                                                <th scope="col">Réclamation</th>
                                                <th scope="col">Répondre par email</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let r of reclamations">
                                                <td>{{r.client.nom}} {{r.client.prenom}}</td>
                                                <td>{{r.texte}}</td>
                                                <td><a [href]="'mailto:' + r.client.email">{{r.client.email}}</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div [hidden]="authenticated()">
    <h1>Connectez-vous en tant que responsable d'agence pour accéder à cette page</h1>
</div>
<div [hidden]="!authenticated()">
    <div [hidden]="!authorities2()">
        <h1>Vous êtes connecté, mais seuls les responsables d'agence ont accès à cette page
        </h1>
    </div>