<div>
    <h1>Ajouter un role</h1>
    <form (ngSubmit)="saveRole()">
        <table>
            <tr>
                <td>libelle</td>
                <td><input type="text" [(ngModel)]="role.libelleRole" name="libelleRole"/></td>
            </tr>
            <tr>
                <td>Prénom</td>
                <td><input type="text" [(ngModel)]="user.prenomUtilisateur" name="prenomUtilisateur"/></td>
            </tr>
            <tr>
                <td>Username</td>
                <td><input type="text" [(ngModel)]="user.username" name="username"/></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" [(ngModel)]="user.password" name="password"/></td>
            </tr>
            <tr>
                <td>Roles</td>
                <td>
                    <select  name="roles" [(ngModel)]="user.roles" multiple>
                        <option *ngFor="let r of roless" [ngValue]="r">
                            {{r.libelle}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button>Ajouter</button></td>
            </tr>
        </table>
    </form>
</div>
<div>
    <table>
        <tr>
            <td>Nom</td>
            <td>Prénom</td>
            <td>Username</td>
            <td>Password</td>
            <td>Action</td>
        </tr>
        <tr *ngFor="let u of users">
            <td>{{u.nomUtilisateur}}</td>
            <td>{{u.prenomUtilisateur}}</td>
            <td>{{u.username}}</td>
            <td>{{u.password}}</td>
            <td><button (click)="deleteUtilisateur(u.idUtilisateur)">Delete</button></td>
        </tr>
    </table>
</div>
